body {
	margin: 0;
	padding: 0;
    overflow: hidden;
}

.menu {
	width: 300px;
    padding: 10px;
    color: white;
    position: absolute;
    background: rgba(150,150,150,0.5);
    top: 0;
    left: 50%;
    text-align: center;
    font-family: sans-serif;
    color: #efefef;
    top: 25%;
    margin-left: -160px;
}

.menuTitle {
	font-weight: bold;
	margin-bottom: 25px;
}

.menuItem.active {
	color: #666;
	background: #efefef;
}

.debug {
    position: absolute;
    color:white;
    bottom: 0;
    left:0;
    width: 250px;
    min-height: 100px;
    font-family: sans-serif;
    padding: 10px;
    font-size: 0.75em;
    background: rgba(100, 100, 150, 0.25);
}